body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}

#container {
    max-width: 600px;
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 1;
    overflow: visible; 
}

.progress-bar-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 20px;
    height: 20px;
    position: relative;
    display: none; 
}
.progress-bar {
    height: 100%;
    width: 0%;
    background-color: #28a745;
    transition: width 0.4s ease-in-out;
    border-radius: 8px;
}
#progressText {
    margin-top: 10px;
    font-size: 16px;
    display: none; 
}
#progressPercent {
    font-weight: bold;
}
#container:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}
h2 {
    color: #333;
    margin-bottom: 30px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px dashed #007BFF;
    background-color: #f9f9f9;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.3s;
}
input[type="file"]:hover {
    border-color: #0056b3;
}
button {
    background-color: #007BFF;
    color: white;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s;
    margin-top: 10px;
    z-index: 2;
}
button:hover {
    background-color: #0056b3;
}
#result {
    margin-top: 20px;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    position: relative;
    z-index: 3; 
    transition: opacity 0.3s;
}
#result.show {
    opacity: 1;
}
#downloadButton {
    background-color: #28a745;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    z-index: 4; 
    transition: background-color 0.3s;
}
#downloadButton:hover {
    background-color: #218838;
}
p {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
    z-index: 2;
}
